<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>世纪营联</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../static/assets/i/32.ico">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="世纪营联"/>
    <script src="../../static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/app.css">
    <link rel="stylesheet" href="../../static/jquery.pagination_js/css/reset.css"/>
    <link rel="stylesheet" href="../../static/jquery.pagination_js/css/pagination.css"/>
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/jquery.pagination_js/js/jquery.pagination.js"></script>
</head>
<body data-type="widgets">
<script src="../../static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    {% include 'header-sidebar.html' %}
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">Facebook帐号列表</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select data-am-selected="{btnSize: 'sm'}" id="state">
                                        <option value="none">选择状态</option>
                                        <option value="working">进行中</option>
                                        <option value="finish">已完成</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-2">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field" id="group_id" placeholder="请输入群组"/>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field" id="keyword" placeholder="请输入关键词"/>
                                    <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"
                                                type="button" onclick="submitOpt()"></button>
                                      </span>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                                       id="example-r">
                                    <thead>
                                    <tr>
                                        <th>帐号</th>
                                        <th>密码</th>
                                        <th>UA</th>
                                        <th>cookies</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="account_list">
                                    </tbody>
                                </table>
                            </div>
                            <div class="pages">
                                <div id="Pagination"></div>
                                <div class="searchPage">
                                    <span class="page-sum">共<strong class="allPage">0</strong>页</span>
                                    <span class="page-go">跳转<input id="go_page" type="text"/>页</span>
                                    <a href="javascript:void(0);" onclick="goPage()" class="page-btn">GO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/assets/js/amazeui.min.js"></script>
<script src="../../static/assets/js/amazeui.datatables.min.js"></script>
<script src="../../static/assets/js/dataTables.responsive.min.js"></script>
<script src="../../static/assets/js/app.js"></script>
<script src="../../static/assets/js/fb/account-list.js"></script>
</body>
</html>