<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>世纪营联</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="../../static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/app.css">
    <link rel="stylesheet" href="../../static/jquery.pagination_js/css/reset.css"/>
    <link rel="stylesheet" href="../../static/jquery.pagination_js/css/pagination.css"/>
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/jquery.pagination_js/js/jquery.pagination.js"></script>
</head>
<style>
    #review_table th {
        text-align: center;
    }
    #review_table td {
        text-align: center;
        vertical-align: middle;
    }
    #order_table td {
        text-align: left;
    }
</style>
<body data-type="widgets">
<script src="../../static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img src="../../static/assets/img/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span id="user_nickname">{{ user['nickname'] }}</span><span id="user_level" style="display: none">{{ user['level'] }}</span> </a>
                    </li>

                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href={{ url_for('logout') }}>
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-link">
                <a href={{ url_for('index') }} >
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            {% if user.level == 1 %}
                <li class="sidebar-nav-link">
                    <a href="javascript:void(0);" class="sidebar-nav-sub-title">
                        <i class="am-icon-facebook-square sidebar-nav-link-logo"></i> FB模块
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href={{ url_for('fb.fbList') }}>
                                <i class="am-icon-table sidebar-nav-link-logo"></i> 任务列表
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href={{ url_for('fb.form') }}>
                                <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 任务提交

                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href={{ url_for('fb.cpList') }}>
                                <i class="am-icon-table sidebar-nav-link-logo"></i> 评论池
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href={{ url_for('fb.accountList') }}>
                                <i class="am-icon-table sidebar-nav-link-logo"></i> 帐号列表
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href={{ url_for('fb.groupList') }}>
                                <i class="am-icon-table sidebar-nav-link-logo"></i> 小组列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href={{ url_for('userList') }}>
                        <i class="am-icon-user sidebar-nav-link-logo"></i> 用户列表
                    </a>
                </li>
            {% endif %}
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" class="sidebar-nav-sub-title active">
                    <i class="am-icon-dollar sidebar-nav-link-logo"></i> 刷单模块
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                    {% if user.level == 1 %}
                    <li class="sidebar-nav-link">
                        <a href={{ url_for('review.buyerList') }}>
                            <i class="am-icon-table sidebar-nav-link-logo"></i> 买手列表
                        </a>
                    </li>
                    {% endif %}
                    <li class="sidebar-nav-link">
                        <a href={{ url_for('review.reviewList') }} class="sub-active">
                            <i class="am-icon-table sidebar-nav-link-logo"></i> 任务列表
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href={{ url_for('review.reviewForm') }}>
                            <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 需求提交
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" class="sidebar-nav-sub-title">
                    <i class="am-icon-amazon sidebar-nav-link-logo"></i> 亚马逊模块
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a href={{ url_for('amz.trackList') }}>
                            <i class="am-icon-table sidebar-nav-link-logo"></i> 追踪任务列表
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href={{ url_for('amz.form') }}>
                            <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 追踪需求提交
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="am-modal am-modal-confirm" tabindex="-1" id="my_confirm">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">修改提示</div>
            <div class="am-modal-bd">
                你，确定要修改这条记录的状态吗？
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-no-btn" tabindex="-1" id="tips_modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">提示信息
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd" id="tips_content">
                Modal 内容。
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-no-btn" tabindex="-1" id="order_modal">
        <div class="am-modal-dialog" style="height: 70%;width: 60%;overflow:auto">
            <div class="am-modal-hd">
                <img style="width: 6rem;height: 6rem;cursor:pointer;" id="order_img" src="" class="tpl-table-line-img" alt="">
                <span style="line-height: 6rem" id="order_asin"></span>
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-hd" style="height: 13rem;width: 90%;margin: 0 auto;padding: 0 10px">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black am-table-hover"
                       id="order_table">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>订单号</th>
                            <th>流量渠道</th>
                            <th>下单时间</th>
                            <th>profile</th>
                            <th>留评链接</th>
                            <th>结算状态</th>
                        </tr>
                    </thead>
                    <tbody id="order_tbody">
                    </tbody>
                </table>
            </div>
            <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" style="width:75rem"
                 id="tpl_echarts"></div>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-cf">刷单任务列表<div class="am-fr" style="color: red" id="total_num"></div></div>
                        </div>
                        <div class="widget-body am-fr">
                            <div class="am-fl" style="padding: 1rem 0">
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3" style="float: left">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p" style="width: 100%">
                                        <input type="text" class="am-form-field" id="keyword" placeholder="请输入关键词"/>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3" style="float: left">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field" id="asin" placeholder="请输入ASIN"/>
                                        <span class="am-input-group-btn">
                                            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"
                                                    type="button" onclick="submitOpt()"></button>
                                          </span>
                                    </div>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black am-table-hover"
                                       id="review_table">
                                    <thead>
                                        <tr>
                                            <th>主图</th>
                                            {% if user.level == 1 %}
                                            <th>用户</th>
                                            {% endif %}
                                            <th>产品简写</th>
                                            <th width="15%">关键词</th>
                                            <th width="10%">ASIN</th>
                                            <th>价格</th>
                                            <th>品牌名</th>
                                            <th>店铺名</th>
                                            <th>完成度</th>
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="list-tbody">
                                    </tbody>
                                </table>
                            </div>
                            <div class="pages">
                                <div id="Pagination"></div>
                                <div class="searchPage">
                                    <span class="page-sum">共<strong class="allPage">0</strong>页</span>
                                    <span class="page-go">跳转<input id="go_page" type="text"/>页</span>
                                    <a href="javascript:void(0);" onclick="goPage()" class="page-btn">GO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/assets/js/amazeui.min.js"></script>
<script src="../../static/assets/js/amazeui.datatables.min.js"></script>
<script src="../../static/assets/js/dataTables.responsive.min.js"></script>
<script src="../../static/assets/js/app.js"></script>
<script src="../../static/assets/js/review/review-list.js"></script>
</body>
</html>