<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>世纪营联</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="../../static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/app.css">
    <script src="../../static/assets/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
<script src="../../static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img src="../../static/assets/img/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span>{{ user['nickname'] }}</span> </a>
                    </li>

                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href={{ url_for('logout') }}>
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-link">
                <a href={{ url_for('index') }}>
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            {% if user.level == 1 %}
                <li class="sidebar-nav-link">
                    <a href="javascript:void(0);" class="sidebar-nav-sub-title">
                        <i class="am-icon-facebook-square sidebar-nav-link-logo"></i> FB模块
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href={{ url_for('fb.fbList') }}>
                                <i class="am-icon-table sidebar-nav-link-logo"></i> 任务列表
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href={{ url_for('fb.form') }}>
                                <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 任务提交

                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href={{ url_for('fb.cpList') }}>
                                <i class="am-icon-table sidebar-nav-link-logo"></i> 评论池
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href={{ url_for('fb.accountList') }}>
                                <i class="am-icon-table sidebar-nav-link-logo"></i> 帐号列表
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href={{ url_for('fb.groupList') }}>
                                <i class="am-icon-table sidebar-nav-link-logo"></i> 小组列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href={{ url_for('userList') }}>
                        <i class="am-icon-user sidebar-nav-link-logo"></i> 用户列表
                    </a>
                </li>
            {% endif %}
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" class="sidebar-nav-sub-title active">
                    <i class="am-icon-dollar sidebar-nav-link-logo"></i> 刷单模块
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                    {% if user.level == 1 %}
                        <li class="sidebar-nav-link">
                            <a href={{ url_for('review.buyerList') }}>
                                <i class="am-icon-table sidebar-nav-link-logo"></i> 买手列表
                            </a>
                        </li>
                    {% endif %}
                    <li class="sidebar-nav-link">
                        <a href={{ url_for('review.reviewList') }}>
                            <i class="am-icon-table sidebar-nav-link-logo"></i> 任务列表
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href={{ url_for('review.reviewForm') }} class="sub-active">
                            <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 需求提交
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" class="sidebar-nav-sub-title">
                    <i class="am-icon-amazon sidebar-nav-link-logo"></i> 亚马逊模块
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a href={{ url_for('amz.trackList') }}>
                            <i class="am-icon-table sidebar-nav-link-logo"></i> 追踪任务列表
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href={{ url_for('amz.form') }}>
                            <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 追踪需求提交
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">提示信息</div>
            <div class="am-modal-bd" id="alert-text">
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="tips_modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">提示信息
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd" id="tips_content">
                Modal 内容。
            </div>
        </div>
    </div>
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">

            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">需求提交 — <span style="color: red">红色*为必填项</span></div>
                        </div>
                        <div class="widget-body am-fr">
                            <form class="am-form tpl-form-line-form" {{ url_for('review.reviewForm') }}
                                  method="post">
                                <div class="am-form-group">
                                    <div style="float: left;width: 33.3%">
                                        <label class="am-u-sm-4 am-form-label">关键词<span style="color: red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" required class="tpl-form-input" name="keyword" placeholder="请输入关键词">
                                        </div>
                                    </div>
                                    <div style="float: left;width: 33.3%">
                                        <label class="am-u-sm-4 am-form-label">页数<span style="color: red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class="tpl-form-input" name="kw_page" placeholder="请输入关键词所在页数">
                                        </div>
                                    </div>
                                    <div style="float: right;width: 33.3%">
                                        <label class="am-u-sm-4 am-form-label">所属用户<span style="color: red">*</span></label>
                                        <div class="am-u-sm-8">
                                            {% if user.level == 1 %}
                                                <select name="user_id" data-am-selected="{searchBox: 1}">
                                                {% for uu in user_list %}
                                                    <option value="{{ uu.id }}">{{ uu.account }}</option>
                                                {% endfor %}
                                                </select>
                                            {% else %}
                                                <input type="text" style="background: rgba(192,187,192,0.7)" class="tpl-form-input" disabled value="{{ user['account'] }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div style="float: left;width: 33.3%">
                                        <label class="am-u-sm-4 am-form-label">价格<span style="color: red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class="tpl-form-input" name="price" placeholder="请输入价格">
                                        </div>
                                    </div>
                                    <div style="float: left;width: 33.3%">
                                        <label class="am-u-sm-4 am-form-label">品牌名<span style="color: red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class="tpl-form-input" name="brand" placeholder="请输入品牌名">
                                        </div>
                                    </div>
                                    <div style="float: right;width: 33.3%">
                                        <label class="am-u-sm-4 am-form-label">店铺名<span style="color: red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class="tpl-form-input" name="store" placeholder="请输入店铺名">
                                        </div>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div style="float: left;width: 33.3%">
                                        <label class="am-u-sm-4 am-form-label">每日单数<span style="color: red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="number" class="tpl-form-input" name="days_order"
                                                   placeholder="请输入每日最大单量">
                                        </div>
                                    </div>
                                    <div style="float: left;width: 33.3%">
                                        <label class="am-u-sm-4 am-form-label">总单数<span style="color: red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="number" class="tpl-form-input" name="total_order"
                                                   placeholder="请输入总单数">
                                        </div>
                                    </div>
                                    <div style="float: right;width: 33.3%">
                                        <label class="am-u-sm-4 am-form-label">产品简写<span style="color: red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class="tpl-form-input" name="name" placeholder="请输入产品的中文简写">
                                        </div>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">ASIN<span style="color: red">*</span></label>
                                    <div class="am-u-sm-10">
                                        <input type="text" class="tpl-form-input" name="asin" placeholder="请输入ASIN,多个变体请用 | 隔开">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">主图链接<span style="color: red">*</span></label>
                                    <div class="am-u-sm-10">
                                        <input type="text" class="tpl-form-input" name="img" placeholder="请输入主图链接">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">备注</label>
                                    <div class="am-u-sm-10">
                                        <input type="text" class="tpl-form-input" name="note" placeholder="请输入备注">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" onclick="postForm()"
                                                class="am-btn am-btn-primary tpl-btn-bg-color-success ">
                                            提交
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/assets/js/amazeui.min.js"></script>
<script src="../../static/assets/js/amazeui.datatables.min.js"></script>
<script src="../../static/assets/js/dataTables.responsive.min.js"></script>
<script src="../../static/assets/js/app.js"></script>
<script src="../../static/assets/js/review/review-form.js"></script>
</body>

</html>