<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>世纪营联</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../static/assets/i/32.ico">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="世纪营联"/>
    <script src="../../static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/app.css">
    <link rel="stylesheet" href="../../static/jquery.pagination_js/css/reset.css"/>
    <link rel="stylesheet" href="../../static/jquery.pagination_js/css/pagination.css"/>
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/jquery.pagination_js/js/jquery.pagination.js"></script>
</head>
<style>
    #echarts_table th {
        text-align: center;
    }
    #example-r td{
        vertical-align: middle;
    }
</style>
<body data-type="widgets">
<script src="../../static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    {% include 'header-sidebar.html' %}

    <div class="am-modal am-modal-confirm" tabindex="-1" id="my_confirm">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">修改提示</div>
            <div class="am-modal-bd">
                你，确定要修改这条记录的状态吗？
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-no-btn" tabindex="-1" id="charts_modal">
        <div class="am-modal-dialog" style="height: 40rem;width: 80rem">
            <div class="am-modal-hd"><span id="echarts_title"></span>
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-hd" style="height: 13rem;width: 90%;margin: 0 auto">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black"
                       id="echarts_table">
                    <thead>
                    <tr>
                        <th>关键词排名</th>
                        <th>大类排名</th>
                        <th>评论数</th>
                        <th>价格</th>
                        <th>星级</th>
                    </tr>
                    </thead>
                    <tbody id="echarts_tbody">
                    </tbody>
                </table>
            </div>
            <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" style="width:75rem"
                 id="tpl_echarts"></div>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">ASIN跟踪列表</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select data-am-selected="{btnSize: 'sm'}" id="status">
                                        <option value="none">选择状态</option>
                                        <option value="working">进行中</option>
                                        <option value="finish">已停止</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-2">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field" id="keyword" placeholder="请输入关键词"/>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field" id="asin" placeholder="请输入ASIN"/>
                                    <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"
                                                type="button" onclick="submitOpt()"></button>
                                      </span>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                                       id="example-r">
                                    <thead>
                                    <tr>
                                        <th>图片</th>
                                        <th width="20%">关键词</th>
                                        <th>ASIN</th>
                                        <th>状态</th>
                                        <th>排名</th>
                                        <th>评论</th>
                                        <th width="20%">大类排名</th>
                                        <th>更新时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="list-tbody">
                                    </tbody>
                                </table>
                            </div>
                            <div class="pages">
                                <div id="Pagination"></div>
                                <div class="searchPage">
                                    <span class="page-sum">共<strong class="allPage">0</strong>页</span>
                                    <span class="page-go">跳转<input id="go_page" type="text"/>页</span>
                                    <a href="javascript:void(0);" onclick="goPage()" class="page-btn">GO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/assets/js/amazeui.min.js"></script>
<script src="../../static/assets/js/amazeui.datatables.min.js"></script>
<script src="../../static/assets/js/dataTables.responsive.min.js"></script>
<script src="../../static/assets/js/app.js"></script>
<script src="../../static/assets/js/amz/track-list.js"></script>
</body>
</html>