<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>世纪营联</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../static/assets/i/32.ico">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="世纪营联"/>
    <script src="../../static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/app.css">
    <script src="../../static/assets/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
<script src="../../static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    {% include 'header-sidebar.html' %}
    <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">提示信息</div>
            <div class="am-modal-bd" id="alert-text">
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">

            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">亚马逊ASIN追踪</div>
                        </div>
                        <div class="widget-body am-fr">
                            <form id="fb-form" class="am-form tpl-form-line-form" {{ url_for('fb.form') }} method="post">
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">关键词</label>
                                    <div class="am-u-sm-10">
                                        <input type="text" class="tpl-form-input" name="keyword" placeholder="请输入关键词">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">ASIN</label>
                                    <div class="am-u-sm-10">
                                        <input type="text" class="tpl-form-input" name="asin" placeholder="请输入ASIN">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">最大页数</label>
                                    <div class="am-u-sm-10">
                                        <input type="number" class="tpl-form-input" name="page_size" placeholder="请输入最大页数">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" onclick="postForm()" class="am-btn am-btn-primary tpl-btn-bg-color-success ">
                                            提交
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/assets/js/amazeui.min.js"></script>
<script src="../../static/assets/js/amazeui.datatables.min.js"></script>
<script src="../../static/assets/js/dataTables.responsive.min.js"></script>
<script src="../../static/assets/js/app.js"></script>
<script src="../../static/assets/js/amz/track-form.js"></script>
</body>

</html>