<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>世纪营联</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../static/assets/i/32.ico">
    <link rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="世纪营联"/>
    <script src="../static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../static/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="../static/assets/css/app.css">
    <link rel="stylesheet" href="../static/jquery.pagination_js/css/reset.css"/>
    <link rel="stylesheet" href="../static/jquery.pagination_js/css/pagination.css"/>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/jquery.pagination_js/js/jquery.pagination.js"></script>
</head>
<style>
    .am-selected {
        width: 80%;
    }
</style>
<body data-type="widgets">
<script src="../static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    {% include 'header-sidebar.html' %}
    <div class="am-modal am-modal-prompt" tabindex="-1" id="user_prompt">
        <div class="am-modal-dialog" style="width: 400px">
            <div class="am-modal-hd" style="font-weight: 700;padding-bottom: 2rem">新增用户</div>
            <div class="am-modal-bd" style="border: 0;width: 80%;margin: 0 auto;padding: 5px 10px">
                <span style="float: left;line-height: 1.8rem;vertical-align: middle;font-size: 1.5rem;padding: 5px;">帐号:</span>
                <input type="text" class="am-modal-prompt-input" style="margin: 0 auto">
            </div>
            <div class="am-modal-bd" style="border: 0;width: 80%;margin: 0 auto;padding: 5px 10px">
                <span style="float: left;line-height: 1.8rem;vertical-align: middle;font-size: 1.5rem;padding: 5px;">昵称:</span>
                <input type="text" class="am-modal-prompt-input" style="margin: 0 auto">
            </div>
            <div class="am-modal-bd" style="border: 0;width: 80%;margin: 0 auto;padding: 5px 10px">
                <span style="float: left;line-height: 1.8rem;vertical-align: middle;font-size: 1.5rem;padding: 5px;">密码:</span>
                <input type="text" class="am-modal-prompt-input" style="margin: 0 auto">
            </div>
            <div class="am-modal-bd" style="width: 80%;margin: 0 auto;padding: 5px 10px 15px 10px">
                <span style="float: left;line-height: 1.8rem;vertical-align: middle;font-size: 1.5rem;padding: 5px;">等级:</span>
                <select id="add_user_level" data-am-selected="{btnSize: 'sm'}">
                    <option value="1">管理员</option>
                    <option value="2" selected>平台用户</option>
                </select>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>提交</span>
            </div>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">买手列表</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-7">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs" style="height: 32px">
                                            <button type="button" onclick="addUser()" style="height: 100%"
                                                    class="am-btn am-btn-default am-btn-success"><span
                                                    class="am-icon-plus"></span> 新增
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-body  am-fr">
                                <div class="am-u-sm-12">
                                    <table width="100%"
                                           class="am-table am-table-compact am-table-striped tpl-table-black "
                                           id="example-r">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>帐号</th>
                                            <th>昵称</th>
                                            <th>等级</th>
                                            <th>状态</th>
                                            <th>注册时间</th>
                                            <th>最后登录时间</th>
                                        </tr>
                                        </thead>
                                        <tbody id="list-tbody">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pages">
                                    <div id="Pagination"></div>
                                    <div class="searchPage">
                                        <span class="page-sum">共<strong class="allPage">0</strong>页</span>
                                        <span class="page-go">跳转<input id="go_page" type="text"/>页</span>
                                        <a href="javascript:void(0);" onclick="goPage()" class="page-btn">GO</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/assets/js/amazeui.min.js"></script>
<script src="../static/assets/js/amazeui.datatables.min.js"></script>
<script src="../static/assets/js/dataTables.responsive.min.js"></script>
<script src="../static/assets/js/app.js"></script>
<script src="../static/assets/js/user-list.js"></script>
</body>
</html>